# RESHARPER #
#############
_ReSharper*

# Visual Studio #
#################
*.suo
*.user

# Packages binaries #
#####################
packages/*/*.*

# binaries folders #
####################
src/*/bin
src/*/obj
test/*/bin
test/*/obj

